@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-montserrat), var(--font-noto-sans-jp), sans-serif;
  
  --color-primary-50: var(--theme-background);
  --color-primary-100: var(--theme-surface-muted);
  --color-primary-200: #FFD1DC; /* Soft intermediate */
  --color-primary-300: #FDB6C9; /* Soft intermediate */
  --color-primary-400: var(--theme-secondary);
  --color-primary-500: var(--theme-primary);
  --color-primary-600: var(--theme-accent);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
}
